@import url('https://fonts.googleapis.com/css2?family=Arima&display=swap');

* {
    box-sizing: border-box;
}

::selection {
    background: lightblue;
    color: lightcoral;
}

body { 
    background-color: lightblue;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

main {
    padding: 40px;
    font-family: 'Arima', cursive;
    background-color: lightgoldenrodyellow;
    border-radius: 8px;
    box-shadow: 0 0 10px lightgoldenrodyellow;
    max-width: 35rem;
}